body {
	font-family: 'Roboto', sans-serif;
	color: #FFF;
	background-color: #DB4F4F;
}

header,
.navbar {
	text-align: center;
}

/*** Button Styling ***/

button {
	border-radius: 5px;
	background-color: #898989;
}

button:hover {
	background-color: #B2B2B2;
}

/*** Sketch Pad Styling ***/

.sketchPad {
 	margin: 25px auto;
 	height: 750px;
 	width: 750px;
}

.grid-square {
	background-color: #E0E0E0;
	display: inline-block;
	float: left;
}

