header,
.navbar {
	text-align: center;
}

/*** Sketch Pad Styling ***/

.sketchPad {
 	margin: 25px auto;
 	height: 750px;
 	width: 750px;
}

.grid-square {
	background-color: #E0E0E0;
	display: inline-block;
	float: left;
}

